*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*---end-of-reset---*/

body {
  font-family: Roboto, Verdana, sans-serif;
}

header, footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.headertop, .headercontent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  margin-top: 3vh;
}

.headercontent {
  line-height: 1;
  gap: 4vw;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.headercolumns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: auto;
}

.headerlogo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f9faf8;
}

.headerlinks a, .headerdescription {
  font-size: 1.125rem;
  color: #E5E7EB;
}

.headerlinks a {
  text-decoration: none;
  margin-left: 1.125rem;
}

.headerlead {
  line-height: 0.9;
  margin: 0.25rem 0;
  font-size: 3rem;
  font-weight: 900;
  color: #f9faf8;
}

.headerdescription {
  line-height: 1.2;
  padding: 1rem 0;
}

.headercontent button {
  background-color: #3882F6;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  background-color: #6D747D;
  padding: 0;
  color: #E5E7EB;
}

.signup, .signup_two {
  color: #f9faf8;
  background-color: #3882F6;
  border-radius: 0.325rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  font-weight: 700;
  border-style: none;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover {
  background-color: #649cf7;
}

button:active {
  transform: scale(0.99);
}

button::after {
  background-color: #3882F6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  padding: 2rem 0;
}

.content_one_title {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
  padding: 3rem 0;
  font-weight: 900;
  color: #1F2937;
}

.content_one_title_thumbs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  gap: 6dvw;
}

.content_one_thumb_one,
.content_one_thumb_two,
.content_one_thumb_three,
.content_one_thumb_four {
  width: 13.75vw;
  height: 13.75vw;
  border: 0.25rem solid #3882F6;
  border-radius: 0.75rem;
}

.content_one_thumb_one_describe,
.content_one_thumb_two_describe,
.content_one_thumb_three_describe,
.content_one_thumb_four_describe {
  width: 13.75vw;
  text-align: center;
}

.content_two {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

.content_two_one {
  line-height: normal;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
  width: 60vw;
}

.content_two_two {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  padding-right: 5vw;
  margin-top: 2vh;
}

.content_three {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_three_frame {
  width: 80vw;
  background-color: #3882F6;
  padding: 2.5vw 10vw 2.5vw 7.5vw;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_three_column_one {
  color: #f9faf8;
}

.content_three_one {
  font-weight: 700;
}

.content_three_two {
  font-weight: 300;
}

.content_three_column_two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_two {
  border: 0.0625rem solid #E5E7EB;
  padding: 0.25rem 2rem;
  margin: 0;
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}

@media only screen and (max-width: 900px) {
  .signup_two {
    min-width: 7.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .headerlinks a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.1rem;
  }  

  .headercontent {
    flex-direction: column;
    padding: 2rem 0;
  }

  .headerlead {
    font-size: 2rem;
  }

  .content_one_title {
    font-size: 2rem;
  }

  .content_one_title_thumbs {
    flex-direction: column;
    padding-bottom: 6.25rem;
  }
  
  .content_one_thumb_one,
  .content_one_thumb_two,
  .content_one_thumb_three,
  .content_one_thumb_four {
    width: 40vw;
    height: 40vw;
  }
  
  .content_one_thumb_one_describe,
  .content_one_thumb_two_describe,
  .content_one_thumb_three_describe,
  .content_one_thumb_four_describe {
    padding-top: 0.5rem;
    width: 40vw;
  }

  .content_two_one {
    font-size: 2rem;
  }

  .content_three_frame {
    flex-direction: column;
  }

  .content_three_one {
    padding: 0.2rem 0;
  }
  
  .content_three_two {
    padding: 0.2rem 0 0.6rem;
  }  

  .signup_two {
    margin-bottom: 0.2rem;
  }
}